services:
  media_service:
    image: bluenviron/mediamtx:1.15.1
    container_name: media_service
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
      - /etc/localtime:/etc/localtime:ro
    networks:
      - camera_batching

  camera_1:
    image: camera_batching:latest
    container_name: camera_1
    build: .
    pull_policy: never
    volumes:
      - ./videos:/videos:ro
    command: >
      ffmpeg -re -stream_loop -1 -i /videos/BigBuckBunny.mp4
      -c:v copy -an
      -f rtsp -rtsp_transport tcp
      rtsp://media_service:8554/camera_1
    depends_on:
      - media_service
    networks:
      - camera_batching


  camera_batching:
    image: camera_batching:latest
    container_name: camera_batching
    build: .
    pull_policy: never
    volumes:
      - ./ffmpeg_solution:/app
      - ./videos:/videos
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    depends_on:
      - media_service
    tty: true
    networks:
      - camera_batching

networks:
  camera_batching:
    external: true
